<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.down_to_earth_rats.quiz_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/kiwi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/kiwi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.activities.CategoryActivity"
            android:parentActivityName=".gui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".gui.activities.StatisticsActivity"
            android:parentActivityName="com.down_to_earth_rats.quiz_game.gui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".gui.activities.SettingsActivity"
            android:parentActivityName=".gui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity android:name=".gui.activities.MainActivity"
            android:screenOrientation="portrait">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


        <activity
            android:name=".gui.activities.ResultsActivity"
            android:parentActivityName="com.down_to_earth_rats.quiz_game.gui.activities.MainActivity"
            android:screenOrientation="portrait">
        </activity>


        <activity
            android:name=".gui.activities.QuizActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
