<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.down_to_earth_rats.quiz_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- TODO Temporary Change, official start screen for project -->
        <activity android:name=".MainActivity" />
        <!--
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        -->

        <activity
            android:name=".SubCategoryActivity"
            android:parentActivityName="com.down_to_earth_rats.quiz_game.SubjectActivity">
            <!--The following row and the first two below "meta-data" is for the Actionbar in SubCategoryActivity-->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.down_to_earth_rats.quiz_game.SubjectActivity"/>
        </activity>

        <activity android:name=".SubjectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <activity
            android:name=".ResultsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <activity android:name=".QuizActivity">

        </activity>

    </application>

</manifest>
